**1. Цикл for - базовий**

Використовуючи цикл `for`, виведіть числа від 1 до 7 включно використовуючи функцію range.

In [2]:
for i in range(7):
  print (i+1)

1
2
3
4
5
6
7


---

**2. Цикл for по списку**

Дано список:

In [4]:
names = ["Олег", "Анна", "Іван", "Марія"]


Використовуючи цикл, виведіть кожне ім'я з привітанням: "Привіт, [ім'я]!"

In [8]:
for name in names:
  print (f"Привіт, {name}")

Привіт, Олег
Привіт, Анна
Привіт, Іван
Привіт, Марія


---

**3. Цикл з enumerate**

Дано список оцінок:

In [10]:
grades = [85, 92, 78, 95, 88]


Використовуючи `enumerate`, виведіть кожну оцінку з номером: "Студент 1: 85 балів"

In [11]:
for i, grage in enumerate(grades):
   print (f"Студент {i+1}: {grage} балів")

Студент 1: 85 балів
Студент 2: 92 балів
Студент 3: 78 балів
Студент 4: 95 балів
Студент 5: 88 балів

In [13]:
for i in range(len(grades)):
   print (f"Студент {i+1}: {grades[i]} балів")

Студент 1: 85 балів
Студент 2: 92 балів
Студент 3: 78 балів
Студент 4: 95 балів
Студент 5: 88 балів

**4. Сума парних чисел**

Напишіть програму, яка обчислює суму всіх парних чисел від 1 до 20 включно.

In [25]:
print(sum(x for x in range(1, 21) if x % 2 == 0))

110

In [26]:
total=0
for x in range(1,21):
  if x % 2 == 0:
    total += x
print (total)

110