**1. Списки - базові операції**

Створіть список температур за тиждень (у градусах Цельсія) з назвою
`temperatures` і значеннями [22, 25, 19, 23, 26, 20, 21, 22].


Виконайте (кожен пункт оцінюється в 0.5 бала):
- Виведіть перший елемент
- Виведіть останній елемент
- Додайте температуру 24
- Видаліть температуру 19
- Виведіть довжину списку
- Обчисліть суму всіх температур
- Знайдіть максимальну температуру

In [17]:
temperatures =[22, 25, 19, 23, 26, 20, 21, 22]

print(temperatures[0])
print(temperatures[-1])

22
22

In [18]:
temperatures.append(24)
temperatures.remove(19)

temperatures

[22, 25, 23, 26, 20, 21, 22, 24]

In [19]:
print(len(temperatures))
print(sum(temperatures))
print(max(temperatures))

8
183
26


**2. Словники - базові операції**

Створіть словник про себе, який містить ключі `name`, `age`, `city` і значення, які відповідають вашему імені, віку і місту (можна вставити будь-які значення, не обовʼязково свої).


Виконайте (кожен пункт оцінюється в 0.5 бала):
- Виведіть значення ключа "name"
- Змініть значення ключа "age" на 21
- Додайте новий ключ "hobby" зі значенням "programming"
- Виведіть всі ключі
- Виведіть всі значення

In [23]:
my_info ={
    "name": "Arina",
    "age": 35,
    "city": "Dnipro"
}
my_info

{'name': 'Arina', 'age': 35, 'city': 'Dnipro'}

In [24]:
print(my_info["name"])

Arina

In [25]:
my_info["age"] =21 #було б чудово

In [26]:
print(my_info.keys())
print(my_info.values())

dict_keys(['name', 'age', 'city'])
dict_values(['Arina', 21, 'Dnipro'])